<!-- sidebar navbar -->
<div class="col-lg-3 col-xl-2 col-md-4 sidebar fixed-top">
  <button data-toggle="collapse" data-target="#myNavbar" class="close-btn" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <a href="#" class="navbar-brand text-white d-block mx-auto text-center mb-4 bottom-border pb-2">
    Truelogic
  </a>
  <a href="#" class="text-white ">Diego Sanches</a>
  <div class="border-bottom pb-3"></div>
  <ul class="navbar-nav flex-column mt-4">
    <li class="nav-item">
      <a href="competitions-list" class="nav-link text-light p-3 mb-2 current"> <i class="fa fa-home text-light fa-lg mr-3"
          aria-hidden="true"></i> Competitions
      </a>
    </li>
    <li class="nav-item">
      <a target="_blank" href="https://gitlab.com/diego_capivara/truelogic-test/-/blob/main/README.md" class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-file text-light fa-lg mr-3"
          aria-hidden="true"></i> Documentation
      </a>
    </li>
  </ul>
</div>
<!-- end sidebar -->