@import './../shared/styles/_theme';
@import './../shared/styles/_responsive';

.content-body {
    width: 1100px;
    padding: 70px 254px;
    @include tablet {
        padding: 70px 294px;
    }
    @include mobile {
        width: 100%;
        padding: 5px 5px 5px 5px;
    }
}