<nav class="navbar navbar-expand-md  navbar-light">
  <button class="navbar-toggler ml-xlg mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="myNavbar">
    <div class="container-fluid">
      <div class="row">

        <app-sidebar></app-sidebar>
        <app-header></app-header>
        
      </div>
    </div>
  </div>
</nav>

<div class="content-body">
  <router-outlet></router-outlet>
</div>