@import './../../shared/styles/_responsive';

.container {
    display: flex;
    
    @include mobile {
        display: block;
    }

    &__player-list {
        width: 50%;
        padding-left: 40px;
        @include mobile {
            width: 100%;
            padding-left: unset;
        }
    }

    &__team-info {
        width: 50%;
        background-color: white;

        @include mobile {
            width: 100%;
            margin-bottom: 20px;
        }

        h3 {
            font-weight: bold
        }

        p {
            font-size: 14px;
        }
    }
}