<div class="container" *ngIf="teamAsync | async as team">

  <div class="container__team-info">
    <mat-card>
      <h3>{{ team?.name }}</h3>
      <p><b>Area:</b> {{ team?.area?.name }}</p>
      <p><b>short name:</b> {{ team?.shortName }}</p>
      <p><b>Address:</b> {{ team?.address }}</p>
      <p><b>phone:</b> {{ team?.phone }}</p>
      <p><b>email:</b> {{ team?.email }}</p>
      <p><b>founded:</b> {{ team?.founded }}</p>
      <p><b>clubColors:</b> {{ team?.clubColors }}</p>
    </mat-card>
  </div>

  <div class="container__player-list">
    <ngx-table 
      [data]="team.squad" 
      [columns]="columns">
    </ngx-table>
  </div>

</div>