<form [formGroup]="form">
  <mat-form-field>
    <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Choose a start season date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button class="clear-btn" (click)="clear()" mat-raised-button color="warn">Clear</button>
</form>

<div class="list-container" *ngIf="dataSource && dataSource.length > 0">
  <ngx-table [data]="dataSource" [columns]="columns" (event)="onClick($event)">
  </ngx-table>
</div>