@import './_variables';
@import './_responsive';

body {
    font-family: "Inconsolata", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 300;
    font-size: 18px;
}

.navbar {
    @include mobile {
        background-color: $black;
    }
}

/* navbar */
.sidebar {
    height: 100vh;
    background: $black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px $gray;
}

.bottom-border {
    border-bottom: 1px groove#eee;
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: $gray;
    border-radius: 5px;
}

.current {
    background-color: $red;
    border-radius: 7px;
    box-shadow: 2px 5px 10px $black;
    transition: all .3s;
}

.current:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px $black;
    transform: translateY(-1px);
}

#search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $gray;
    transition: all .4s;
}

#search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;

}

#search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}

#search-button:hover {
    background-color: #eee;
    transform: translateY(-1px);
}


.icon-parent {
    position: relative;
}

.icon-bullet::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #f44336;
    border-radius: 50%;
}

.top-navbar {
    background: rgb(82, 82, 82);
}

.sidebar {
    @include mobile {
        height: auto;
    }

}

.top-navbar {

    @include mobile {
        position: static;
    }

}


/* end navbar */


::ng-deep table {
    cursor: pointer;
}